$spells-transition: margin-left 0.5s ease-in-out;

.char-card {
  min-width: 300px;
  width: 100%;
  max-width: 420px;
  height: 550px;
  margin: 1rem;
  padding: 0.5rem;
  background-color: transparent;

  text-align: center;
  perspective: 1000px;
}

.char-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

// .char-card:hover .char-card-inner {
//   animation: card 0.5s;
// }

@keyframes card {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(5deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.char-card.flipped .char-card-inner {
  transform: rotateY(180deg);
}

.char-card-front, .char-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 2px rgba( 0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.char-card-back {
  transform: rotateY(180deg);
}

.char-img-container {
  max-height: 420px;
  max-width: 350px;
  position: relative;
}

.char-img {
  width: 100%;
  height: 100%;

  max-height: 420px;
  max-width: 350px;
}

.char-img-icon {
  position: absolute;
  bottom: 5px;
  right: 3px;

  width: 35px;

  opacity: 0.5;
  transition: 0.5s ease;

  cursor: pointer;
}

.char-img-icon:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.char-name {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.char-desc {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.char-card-back {
  p, h2 {
    margin: 0px;
  }

  p {
    font-size: 1.2rem;
  }
}

img.char-dead {
  filter: grayscale(100%);
  transition: ease 0.2s;
}

img.char-dead:hover {
  filter: grayscale(0%);
  transition: ease 0.2s;
}


h2.char-dead::after {
  content: '💀';
}